<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'projects:welcome' %}">Home</a>
            </div>

            <!-- Adding a search form  -->
            <div class="col-sm-4 col-md-4 navbar-right">

                <form class="form-group has-search" role="search" action="{% url 'projects:searchProject' %}" style="padding-top: 10px;width: 300px; margin-left: 130px">

                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Project" name="project" style="height: 26px">
                    </div>

                </form>
            </div>
            <!-- search form end -->
            <!--The search form above-->
            <div class="col-sm-6 col-md-6">
                {% if user.is_authenticated %}
                <div>
                    <div class="dropdown" style="margin-left: 180px">
                        <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button"
                            aria-expanded="false"><img src="https://image.flaticon.com/icons/png/128/149/149071.png" height="30px" weight="40px"> Account
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" style="padding-left: 10px"style="padding-left: 10px">
                            <li>
                                <a href="{%url 'projects:profile' user.id %}">Profile</a>
                            </li>
                            <li>
                                <a href="{% url 'projects:new-project' %}">Add Project</a>
                            </li>
                            <li>
                                <a href="{% url 'projects:profile_api' %}">Profile Api</a>
                            </li>
                            <li>
                                <a href="{% url 'projects:project_api' %}">Project Api</a>
                            </li>
                            <li>
                                <a href="{% url 'projects:login' %}">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% else %}
                <li>
                    <a class='btn btn-default' href="{% url 'projects:login' %}">Login</a>
                </li>

                {% endif %}
            </div>
            <form  action="{% url 'projects:logout' %}" method="post">
                {%csrf_token%}
                <a href="{%url 'projects:login' %}" style="font-family: serif; color:rgb(0,0,54);font-weight: bold"><img src="https://cdn4.iconfinder.com/data/icons/basic-ui-elements/700/012_power-512.png" height="30px" weight="30px">Logout</a>
            </form>
        </div>
    </nav>

</body>

</html>