{%extends "base.html"%}
{% block content %}
<div class="container">
  {% if profile%}
  {% for profile in profile %}
  <div class="row" style="padding:20px">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <img class="rounded-circle account-img" src="{{profile.profile_pic.url}}" alt=""
        style="width:380px; height:390px">
      <h1><strong>{{profile.user.username}}</strong></h1>
      <h5>{{profile.bio}}</h5>
      <h3>Contacts:{{profile.contact}}</h3>
      <a class="btn btn-sm btn-secondary" href="{% url 'projects:update_profile' %}"> Update Profile</a>
    </div>
    <div class="col-md-3"></div>
    {%endfor%}
  </div>
  <h2 style="color: rgba(0,0,62,0.8);font-family: serif;font-size: 30px;font-weight: bold; text-align: center;padding-top: 10px">My Posted Projects</h2>
  <div class="row">
    {%for prj_image in prj_images%}
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <img style="width:900px;height:600px;" src="{{prj_image.prj_image.url}}">
      <p>{{prj_image.prj_title}}</p>
      <p>
        {{prj_image.prj_desc| safe}}
      </p>

      </h5>
    </div>
    <div class="col-md-2"></div>
    {%endfor%}
  </div>
  {%else%}
  <div class="card">
    <div class="card-header">
    </div>
    <div class="card-body" styles="width:50px;">
      <h3 class="card-text">complete your profile</h3>
      <a class="btn btn-sm btn-primary" href="{% url 'projects:update_profile' %}"> complete Profile</a>
    </div>
  </div>
</div>
{%endif%}
</div>
<!-- </div> -->
<!-- <div class="col-md-2"></div>  -->
</div>
{%endblock%}